[submodule "Autopilot"]
	path = Autopilot
	url = https://github.com/IgorLebed/PX4-Autopilot
[submodule "catkin_ws/src/mavlink"]
	path = catkin_ws/src/mavlink
	url = https://github.com/IgorLebed/mavlink.git
[submodule "catkin_ws/src/mavros"]
	path = catkin_ws/src/mavros
	url = https://github.com/IgorLebed/mavros.git
[submodule "catkin_ws/src/px4_controller"]
	path = catkin_ws/src/px4_controller
	url = https://github.com/ValeriiaIZH/px4_controller
