[submodule "Autopilot"]
	path = Autopilot
	url = https://github.com/IgorLebed/PX4-Autopilot
[submodule "catkin_ws/src/mavlink"]
	path = catkin_ws/src/mavlink
	url = https://github.com/IgorLebed/mavlink.git
[submodule "catkin_ws/src/mavros"]
	path = catkin_ws/src/mavros
	url = https://github.com/IgorLebed/mavros.git
[submodule "catkin_ws/src/rrt_module"]
	path = catkin_ws/src/rrt_module
	url = https://github.com/ValeriiaIZH/rrt_module.git
