[submodule "Autopilot"]
	path = Autopilot
	url = https://github.com/IgorLebed/PX4-Autopilot
[submodule "catkin_ws/src/mavlink"]
	path = catkin_ws/src/mavlink
	url = https://github.com/IgorLebed/mavlink.git
[submodule "catkin_ws/src/mavros"]
	path = catkin_ws/src/mavros
	url = https://github.com/IgorLebed/mavros.git
[submodule "catkin_ws/src/px4_controller"]
	path = catkin_ws/src/px4_controller
	url = https://github.com/ValeriiaIZH/px4_controller
[submodule "catkin_ws/src/ros_msg_parser"]
	path = catkin_ws/src/ros_msg_parser
	url = https://github.com/facontidavide/ros_msg_parser
[submodule "catkin_ws/src/uavcom"]
	path = catkin_ws/src/uavcom
	url = https://github.com/EliasShalnev/uavcom.git
[submodule "catkin_ws/src/coverage_planner"]
	path = catkin_ws/src/coverage_planner
	url = https://github.com/IgorLebed/coverage_planner.git
[submodule "catkin_ws/src/uavis"]
	path = catkin_ws/src/uavis
	url = https://github.com/EliasShalnev/uavis.git
[submodule "catkin_ws/src/target_dmg"]
	path = catkin_ws/src/target_dmg
	url = https://github.com/EliasShalnev/target_dmg
