<?xml version="1.0" encoding="UTF-8"?>

<launch>

    <arg name="input" default="1"/>
    <arg name="minus" default="1"/>
    <arg name="nr" value="$(eval arg('input') - arg('minus'))"/>
    
    <group ns="$(eval 'multiply_node_' + str(arg('nr')))">
        <node name="$(eval 'multiply_node_' + str(arg('nr')))"  pkg="swarm_alg" type="$(eval 'uav_' + str(arg('nr')) + '.py')" output="screen"/>
    </group>

    <!-- recursively start new node -->
   <include file="$(find swarm_alg)/launch/multiply_run.launch" if="$(eval arg('nr') - 1 >= 0)">
       <arg name="input" value="$(eval arg('input') - 1)"/>
   </include>

</launch>